<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin Tasks</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>   
    </head>
    <body>
        <div class="container">
            <fieldset>
                <form action="/createChannelRequest" method ="post">
                    <input type="submit" class="ghost-input" value="Create Channel Request">
                </form>
                <form action="/joinChannel" method ="post">
                    <input type="submit" class="ghost-input" value="Join Channel">
                </form>
                <form action="/adminTasks" method ="post">
                    <input type="submit" class="ghost-input" value="Install Chaincode">
                </form>
                <form action="/dashboard" method ="post">
                    <input type="submit" class="ghost-input" value="Instantiate Chaincode">
                </form>
                <% if(response !== null) { %>
                    <p><%= response %></p>
                <% } %>

                <% if(error !== null) { %>
                    <p><%= error %></p>
                <% } %>
            </fieldset>
        </div>
    </body>
</html>