<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Transfer Amount</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>   
    </head>
    <body>
        <div class="container">            
            <p>Peers:</p>
            <p>peer0.org1.example.com; peer1.org.example.com</p>
            <p>Balance in your account: ||1000|| SAP coins</p>
            <p>Send to:</p>
            <select name="users">
                <option value="Alice">Alice</option>
                <option value="Alice">Tiago</option>
                <option value="Alice">Madruguinha</option>
            </select>
            <p>Transfer:</p>
            <input type="text" name="amount" value="Amount">
            <fieldset>
                <form action="/dashboard" method ="post"> <!-- show display content informing dashboard is being updated -->
                    <input type="submit" class="ghost-input" value="Transfer">
                </form>
            </fieldset>
            <p>EXPERT MODE:</p>    
            <fieldset>
                <p>Queries:</p>    
                <form action="/chaincode" method ="post">
                    <input type="submit" class="ghost-input" value="Chaincode">
                </form>
                <form action="/blockByNumber" method ="post">
                    <input type="submit" class="ghost-input" value="Block By Number">
                </form>
                <form action="/transactionByID" method ="post">
                    <input type="submit" class="ghost-input" value="Transaction By ID">
                </form>
                <form action="/chainInformation" method ="post">
                    <input type="submit" class="ghost-input" value="Chain Information">
                </form>
                <form action="/installedChaincode" method ="post">
                    <input type="submit" class="ghost-input" value="Installed Chaincode">
                </form>
                <form action="/instatiatedChaincode" method ="post">
                    <input type="submit" class="ghost-input" value="Instantiated Chaincode">
                </form>
                <form action="/channels" method ="post">
                    <input type="submit" class="ghost-input" value="Channels">
                </form>
                <% if(weather !== null) { %>
                    <p><%= weather %></p>
                <% } %>

                <% if(error !== null) { %>
                    <p><%= error %></p>
                <% } %>
            </fieldset>
        </div>
    </body>
</html>